<h1>Worked with Types <%= link_to '+', new_worked_with_type_path, :class => "newPlus", :alt => "Worked with Type" %></h1>
<div class="digg_pagination">
    <%= will_paginate @users %>
</div>
<div class="page_info">
    <%= page_entries_info @users %>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>

<% @worked_with_types.each do |worked_with_type| %>
  <tr>
    <td><%= link_to worked_with_type.name, worked_with_type %></td>
    <% if worked_with_type.active == "Y" %>
        <td>Yes</td>
        <td><%= link_to 'Edit', edit_worked_with_type_path(worked_with_type) %> <%= link_to 'Disable', ww_disable_path(worked_with_type), :data => {:confirm => "Are you sure you want to disable \"#{worked_with_type.name.titleize}?\""} %></td>
    <% else %>
        <td>No</td>
        <td><%= link_to 'Edit', edit_worked_with_type_path(worked_with_type) %> <%= link_to 'Enable', ww_enable_path(worked_with_type), :data => {:confirm => "Are you sure you want to enable \"#{worked_with_type.name.titleize}?\""} %></td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="digg_pagination">
    <%= will_paginate @users %>
</div>
<div class="page_info">
    <%= page_entries_info @users %>
</div>