<h1>Worked With Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
  </tr>

<% @worked_with_types.each do |worked_with_type| %>
  <tr>
    <td><%= worked_with_type.name %></td>
    <td><% if worked_with_type.active == "Y" %>Yes<% else %>No<% end %></td>
    <td><%= link_to 'Show', worked_with_type %></td>
    <td><%= link_to 'Edit', edit_worked_with_type_path(worked_with_type) %></td>
    <td><%= link_to 'Disable', wwt_disable_path(worked_with_type), :data => {:confirm => "Are you sure you want to disable \"#{worked_with_type.name.titleize}?\""} %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Create New Territory Type', new_worked_with_type_path %>