<h1>New Worked With Type</h1>

<%= form_for(@worked_with_type) do |f| %>
  <%= render "shared/error_messages", :target => @worked_with_type %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.text_field :active %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', worked_with_types_path %>