<%= form_for(@congregation) do |f| %>
  <% if @congregation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@congregation.errors.count, "error") %> prohibited this congregation from being saved:</h2>

      <ul>
      <% @congregation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= f.label :name %></h2>
  <div><%= f.text_field :name %></div>

	<h2><%= f.label :active %></h2>
  <div>
	  <%= f.radio_button :active, 'Y', :checked => true %> 
	  <%= label :active, 'Yes' %>
  </div>
  <div>
	  <%= f.radio_button :active, 'N' %>
	  <%= label :active, 'No' %>
  </div>
 
  <%= f.submit 'Save', :class => "form-button"  %>
<% end %>
