<%= form_for(@congregation) do |f| %>
  <% if @congregation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@congregation.errors.count, "error") %> prohibited this congregation from being saved:</h2>

      <ul>
      <% @congregation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
