<h1>Congregations <%= link_to '+', new_congregation_path, :class => "newPlus", :alt => "Create Congregation" %></h1>
<div class="digg_pagination">
    <%= will_paginate @congregations %>
</div>
<div class="page_info">
    <%= page_entries_info @congregations %>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @congregations.each do |congregation| %>
      <tr>
        <td><%= link_to congregation.name, congregation %></td>
        <% if congregation.active == "Y" %>
          <td>Yes</td>
          <td><%= link_to 'Edit', edit_congregation_path(congregation) %> <%= link_to 'Disable', cong_disable_path(congregation), :data => {:confirm => "Are you sure you want to disable \"#{congregation.name.titleize}?\""} %></td>
        <% else %>
          <td>No</td>
          <td><%= link_to 'Show', congregation %> <%= link_to 'Edit', edit_congregation_path(congregation) %> <%= link_to 'Enable', cong_enable_path(congregation), :data => {:confirm => "Are you sure you want to enable \"#{congregation.name.titleize}?\""} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
    <%= will_paginate @congregations %>
</div>
<div class="page_info">
    <%= page_entries_info @congregations %>
</div>