<h1>Users <%= link_to '+', new_user_path, :class => "newPlus", :alt => "New User" %></h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Text Message?</th>
    <th>Cell Carrier</th>
    <th>Notes</th>
    <th>Role</th>
    <th>Active</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone_number %></td>
	<td><%= user.text_message %></td>
	<td><%= user.cell_carrier %></td>
	<td><%= user.notes %></td>
    <td><%= user.role %></td>
    <td><% if user.active == "Y" %>Yes<% else %>No<% end %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Disable', ur_disable_path(user), :data => {:confirm => "Are you sure you want to disable #{user.first_name.titleize}?"} %></td>
  </tr>
<% end %>
</table>
