<h1>Users <%= link_to '+', new_user_path, :class => "newPlus", :alt => "New User" %></h1>

<table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>  
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, user %></td>
        <td><%= link_to user.last_name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <% if user.active == "Y" %>
            <td>Yes</td>
            <td><%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Disable', ur_disable_path(user), :data => {:confirm => "Are you sure you want to disable \"#{user.first_name.titleize} #{user.last_name.titleize}?\""} %></td>
        <% else %>
            <td>No</td>
            <td><%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Enable', ur_enable_path(user), :data => {:confirm => "Are you sure you want to enable \"#{user.first_name.titleize} #{user.last_name.titleize}?\""} %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>
