<% title "Create User" %>
<h1>New User</h1>
<%= form_for @user do |f| %>
  <%= render "shared/error_messages", :target => @user %>
  <p>
  	<% if current_user.role == "admin" %>
  		<%= f.select :congregation_id, options_for_select(@congregations) %>
  	<% else %>
  	  <%= current_user.congregation.name %>
  	<% end %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :text_message %>?<br />
    <%= f.text_field :text_message %>
  </p>
  <p>
    <%= f.label :cell_carrier %><br />
    <%= f.text_field :cell_carrier %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :user_role, "User Role" %><br />
    <%= f.select :role, options_for_select(['admin', 'tservant', 'checkout']) %>
  </p>
  <p>
  <%= f.label :active %><br>
  <%= f.radio_button :active, 'Y', :checked => true %> 
  <%= label :active_y, 'Yes' %>
  <%= f.radio_button :active, 'N' %>
  <%= label :contactmethod_n, 'No' %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p><%= f.submit "Create" %></p>
<% end %>
