<% title "New User" %>
<h1>New User</h1>
<div class="form">
  <%= form_for @user do |f| %>
    <%= render "shared/error_messages", :target => @user %>
    
    <div>
      <% if current_user.role == "admin" %>
        <h2><%= f.label :congregation_id %></h2>
    		<%= f.select :congregation_id, @congregations %>
    	<% end %>
    </div>
    <h2><%= f.label :first_name %></h2>
    <div><%= f.text_field :first_name %></div>

    <h2><%= f.label :last_name %></h2>
    <div><%= f.text_field :last_name %></div>

    <h2><%= f.label :email, "Email Address" %></h2>
    <div><%= f.text_field :email %></div>

    <h2><%= f.label :phone_number %></h2>
    <div><%= f.text_field :phone_number %></div>

    <h2><%= f.label :text_message %>?</h2>
    <div><%= f.text_field :text_message %></div>

    <h2><%= f.label :cell_carrier %></h2>
    <div><%= f.text_field :cell_carrier %></div>

    <h2><%= f.label :password %></h2>
    <div><%= f.password_field :password %></div>

    <h2><%= f.label :password_confirmation, "Confirm Password" %></h2>
    <div><%= f.password_field :password_confirmation %></div>

    <% if current_user.role == "admin" %>
      <h2><%= f.label :user_role, "User Role" %></h2>
      <div><%= f.select :role, options_for_select(['admin', 'tservant', 'checkout']) %></div>
    <% end %>

    <h2><%= f.label :notes %></h2>
    <div><%= f.text_field :notes %></div>

    <%= f.hidden_field :active, :value => "Y"%>

    <%= f.submit "Save" %>
  <% end %>
</div>