<h1>User</h1>

<div class="form">
<h2>Congregation</h2>
<div class="show_field"><%= @user.congregation.name %></div>
<h2>Name</h2>
<div class="show_field"><%= @user.first_name %> <%= @user.last_name %></div>

<h2>Email</h2>
<div class="show_field"><%= @user.email %></div>

<% if @user.phone_number.blank? %> 
	<h2>Phone Number</h2>
	<div class="show_field">&nbsp;</div>
<% else %>
	<h2>Phone Number</h2>
	<div class="show_field"><%= @user.phone_number %></div>
<% end %>

<% if @user.text_message.blank? %>
	<h2>Text Messages</h2>
	<div class="show_field">&nbsp;</div>
<% else %>
	<h2>Recieve Text Messages</h2>
	<div class="show_field"><%= @user.text_message %></div>
<% end %>

<% if @user.cell_carrier.blank? %>
	<h2>Cell Carrier</h2>
	<div class="show_field">&nbsp;</div>
<% else %>
	<h2>Cell Carrier</h2>
	<div class="show_field"><%= @user.cell_carrier %></div>
<% end %>

<h2>Active</h2>
<div class="show_field"><% if @user.active == "Y" %>Yes<% else %>No<% end %></div>

<% if current_user.role == "admin" %>
	<% if @user.notes.blank? %>
		<h2>Notes</h2>
		<div class="show_field">&nbsp;</div>
	<% else %>
		<h2>Notes</h2>
		<div class="show_field"><%= @user.notes %></div>
	<% end %>
<% end %>

</div>

<h2>Territories Checked Out</h2>

<table>
	<thead>
		<tr>
			<th>Territory</th>
			<th>Checked Out</th>
			<th>Age</th>
		</tr>		
	</thead>
	<tbody>
	<% if @territories_checked_out.empty? %>
		<tr>
			<td>None</td>
			<td>None</td>
			<td>None</td>
		</tr>		
	<% else %>
		<% @territories_checked_out.each do |key, value| %>
			<tr>
				<td><%= value[:name] %></td>
				<td><%= value[:checkedoutat] %></td>
				<td><%= "#{value[:age_months]} Month(s) #{Date.today.day} Day(s)" %></td>
			</tr>
  		<% end %> 
  	<% end %> 
  </tbody>
</table>

<h2>History</h2>

<table>
	<thead>
	<% if @user_history.empty? %>
		<tr>
			<th colspan="5">None</th>
		</tr>		
	<% else %>	
		<tr>
			<th>Territory</th>
			<th>Checked Out</th>
			<th>Checked In</th>
			<th>Age</th>
			<th>Worked With</th>
		</tr>
	</thead>
	<tbody>
		<% @user_history.each do |key, value| %>
			<tr>
				<td><%= value[:name] %></td>
				<td><%= value[:checkout] %></td>
				<td><%= value[:checkin] %></td>
				<td><%= number_with_precision(value[:age], :precision => 2)  %>m</td>
				<td> </td>
			</tr>
	  	<% end %>
  	<% end %>
  </tbody>
</table>
