<h1>Settings</h1>
<div class="form">

	<h2>Checkouts</h2>
	<ul>
		<li><a href="/checkouts">List, Create, Edit, and Deactivate</a></li>
		<li><%= link_to 'Create Many', new_checkout_path %></li>
	</ul>

	<h2>Congregations</h2>
	<ul>
		<li><a href="/congregations">List, Create, Edit, and Deactivate</a></li>
		<li><%= link_to 'Create Many', new_congregation_path %></li>
	</ul>

	<h2>Territories</h2>
	<ul>
		<li><a href="/territories">List, Create, Edit, and Deactivate</a></li>
		<li><%= link_to 'Create Many', new_territory_path %></li>
	</ul>

	<h2>Territory Types</h2>
	<ul>
		<li><a href="/territory_types">List, Create, Edit, and Deactivate</a></li>
		<li><%= link_to 'Create Many', new_territory_type_path %></li>
	</ul>

	<h2>Users</h2>
	<ul>
		<li><a href="/users">List, Create, Edit, and Deactivate</a></li>
		<li><%= link_to 'Create Many', new_user_path %></li>
	</ul>

	<h2>Worked With Types</h2>
	<ul>
		<li><a href="/worked_with_types">List, Create, Edit, and Deactivate</a></li>
		<li><%= link_to 'Create Many', new_worked_with_type_path %></li>
	</ul>
</div>