<h1>Check In</h1>


<table>
  <tr>
    <th>Checked Out To</th>
    <th>Terriory</th>
    <th>Checked out</th>
    <th>Notes</th>
    <th>Assigned By</th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    
    <td><%= User.find(checkin.publisher_id).last_name %>, <%= User.find(checkin.publisher_id).first_name %></td>
    <td><%= checkin.territory.name %></td>
    <td><%= checkin.checked_out.strftime("%m-%d-%Y") %></td>
    <td><%= checkin.notes %></td>
    <td><%= checkin.user.first_name %> <%=h checkin.user.last_name %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Check In', edit_checkout_path(checkin) %></td>
  </tr>
<% end %>
</table>