<h1>Check in</h1>

<div class="digg_pagination">
    <%= will_paginate @check_in %>
</div>
<div class="page_info">
    <%= page_entries_info @check_in %><% if @check_in.count > 1 %>s<% end %>
</div>

<table>
  <thead>
    <tr> 
      <th scope="col">Action</th>
      <th scope="col">Publisher</th>
      <th scope="col">Territory</th>
      <th scope="col">Check out date</th>
      <th scope="col">Notes</th>
      <th scope="col">Issuer</th>
    </tr>
  </thead>
  <tbody>
  <% @check_in.each do |checkin| %>
    <tr>
      <td><%= link_to 'Check In', edit_checkout_path(checkin) %></td>
      <td><%= User.find(checkin.publisher_id).last_name %>, <%= User.find(checkin.publisher_id).first_name %></td>
      <td><%= checkin.territory.name %></td>
      <td><%= checkin.checked_out.strftime("%m-%d-%Y") %></td>
      <td><%= checkin.notes %></td>
      <td><%= checkin.user.first_name %> <%=h checkin.user.last_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
    <%= will_paginate @check_in %>
</div>
<div class="page_info">
    <%= page_entries_info @check_in %><% if @check_in.count > 1 %>s<% end %>
</div>