<h1>Check Outs</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Terriory</th>
            <th scope="col">Publisher</th>
            <th scope="col">Checked out</th>
            <th scope="col">Checked in</th>
            <th scope="col">Assigned By</th>
            <th scope="col">Action</th>
        </tr>  
    </thead>
    <tbody>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= checkout.territory.name %></td>
        <td><%= checkout.user.last_name %>, <%= checkout.user.first_name %></td>
        <td><%= checkout.checked_out.strftime("%m-%d-%Y") %></td>
        <td><%= unless checkout.checked_in.nil? then checkout.checked_in.strftime("%m-%d-%Y") end %></td>
        <td><%= checkout.user.name_first_last %></td>
        <td><%= link_to 'Show', checkout %>, <%= link_to 'Edit', edit_checkout_path(checkout) %></td>
      </tr>
    <% end %>
    </tbody>
</table>