<h1>Check out</h1>

<div class="form">
  <h2>User</h2>
  <div class="show_field"><%= @checkout.user.first_name %> <%=h @checkout.user.last_name %></div>

  <h2>Terriory</h2>
  <div class="show_field"><%= @checkout.territory.name %></div>

  <h2>Publisher</h2>
  <div class="show_field"><%= @publisher.first_name %> <%= @publisher.last_name %></div>

  <h2>Check out date</h2>
  <div class="show_field"><%= @checkout.checked_out.strftime("%m-%d-%Y") %></div>

  <h2>Check in date</h2>
  <div class="show_field">
    <% if @checkout.checked_in.blank? %>
      &nbsp;
    <% else %>
      <%= @checkout.checked_in.strftime("%m-%d-%Y") %>
    <% end %>
  </div>

  <h2>Checked in by</h2>
  <div class="show_field">
    <% if @checkout.checkin_user_id.blank? %>
      &nbsp;
    <% else %>
      <%= User.find(@checkout.checkin_user_id).name_first_last %>
    <% end %>
  </div>

  <h2>Completed with</h2>
  <div class="show_field">
    <% if @checkout.worked_with_type.blank? %>  
      &nbsp;
    <% else %>
     <%= @checkout.worked_with_type.name %>
    <% end %>
  </div>

  <h2>Notes</h2>
  <div class="show_field">
    <% if @checkout.notes.blank? %>
      &nbsp;
    <% else %>
      <%= @checkout.notes %>
    <% end %>
  </div> 
</div>