<p>
  <b>User:</b>
  <%= @checkout.user.first_name %> <%=h @checkout.user.last_name %>
</p>

<p>
  <b>Terriory:</b>
  <%= @checkout.territory.name %>
</p>

<p>
  <b>Publisher:</b>
  <%= @publisher.first_name %> <%= @publisher.last_name %>
</p>

<p>
  <b>Checked out:</b>
  <%= @checkout.checked_out.strftime("%m-%d-%Y") %>
</p>

<p>
  <b>Checked in:</b>
  <%= unless @checkout.checked_in.nil? then @checkout.checked_in.strftime("%m-%d-%Y") end %>
</p>
<p>
  <strong>Checked in by:</strong>
  <%= unless @checkout.checked_in.nil? then User.find(@checkout.checkin_user_id).name_first_last end %>
</p>
<p>
  <b>Completed with:</b>
  <%= unless @checkout.worked_with_type.nil? then @checkout.worked_with_type.name end %>
</p>

<p>
  <b>Notes:</b>
  <%= @checkout.notes %>
</p>


<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>