<h1>Check In Territory</h1>


<table>
  <tr>
    <th>Publisher</th>
    <th>Terriory</th>
    <th>Checked out</th>
    <th>Notes</th>
  </tr>

<% @to_be_checked_in.each do |checkin| %>
  <tr>
    <td><%=h checkin.publisher.name %></td>
    <td><%=h checkin.territory.name %></td>
    <td><%=h checkin.checked_out.strftime("%m-%d-%Y") %></td>
    <td><%=h checkin.notes %></td>
    <td><%= link_to 'Check In', edit_checkout_path(checkin)  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New checkin', new_checkout_path %>