<h1>Edit Territory: <%= @territory.name %></h1>

<%= form_for(@territory) do |f| %>
  <%= render "shared/error_messages", :target => @territory %>
  <p><%= @territory.congregation_id %></p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :territory_type_id, "Territory Type:" %><br>
    <%= f.select :territory_type_id, options_for_select(territory_types), :selected => :territory_type_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :maps %><br />
    <%= f.text_field :maps %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
  <%= f.label :active %><br>
  <%= f.radio_button :active, 'Y', :checked => true %> 
  <%= label :active_y, 'Yes' %>
  <%= f.radio_button :active, 'N' %>
  <%= label :contactmethod_n, 'No' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @territory %> |
<%= link_to 'Back', territories_path %>