<h1>Edit Territory</h1>

<div class="form">
  <%= form_for(@territory) do |f| %>
    <%= render "shared/error_messages", :target => @territory %>
    
    <h2><%= f.label :name %></h2>
    <div><%= f.text_field :name %></div>
    
    <h2><%= f.label :territory_type_id, "Territory Type:" %></h2>
    <div><%= f.select :territory_type_id, @territory_types %></div>
    
    <h2><%= f.label :description %></h2>
    <div><%= f.text_field :description %></div>

    <h2><%= f.label :maps, "Map" %></h2>
    <% if @territory.maps %>
      <%= image_tag("/uploads/#{@territory.maps}", width: '100%') %>
    <% end %>
    <div><%= f.file_field :maps, class: "choose_file" %></div>
    
    <h2><%= f.label :notes %></h2>
    <div><%= f.text_field :notes %></div>
    
    <h2><%= f.label :active %></h2>
    <div>
      <%= f.radio_button :active, 'Y' %> 
      <%= label :active, 'Yes' %>
    </div>
    <div>
      <%= f.radio_button :active, 'N' %>
      <%= label :active, 'No' %>
    </div>

    <%= f.submit 'Save' %>
  <% end %>
</div>