<h1>Listing territories</h1>

<%= form_tag territories_path, :method => 'get' do %>
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
<table class="pretty">
  <tr>
    <th>Territory Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Map</th>
    <th>Notes</th>
  </tr>

<% @territories.each do |territory| %>
<% tt = @territory_types.select { |tt| tt.id == territory.territory_type_id.to_i } %>
  <tr>
    <td><%=h tt[0].name.titleize %></td>
    <td><%=h link_to "#{territory.name}", edit_territory_path(territory) %></td>
    <td><%=h territory.description %></td>
    <td><%=h image_tag("/uploads/#{territory.maps}", height: '50') %></td>
    <td><%=h territory.notes %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New territory', new_territory_path %>