<h1>New territory</h1>

<%= form_for @territory, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :territory_type_id %><br />
    <%= f.select :territory_type_id, options_for_select(@territory_types) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :map %><br />
    <%= f.file_field :map %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
	<%= f.hidden_field :active, :value => "Y"%>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', territories_path %>