<h1>Territory</h1>

<div class="form">
  <h2>Name</h2>
  <div class="show_field"><%= @territory.name %></div>

  <h2>Territory Type</h2>
  <div class="show_field"><%= @territory.territory_type.name.titleize %></div>

  <h2>Description</h2>
  <div class="show_field"><%= @territory.description %></div>

  <h2>Map</h2>
  <div class="show_field"><%= @territory.maps %></div>
  <% if @territory.maps %>
    <%= image_tag("/uploads/#{@territory.maps}", class: 'show_map_image') %>
  <% end %>

  <h2>Notes</h2>
  <div class="show_field"><%= @territory.notes %></div>

  <h2>Active</h2>
  <div class="show_field"><% if @territory.active == "Y" %>Yes<% else %>No<% end %></div>
</div>