<h1>Territory:</h1>
<p>
  <b>Name:</b>
  <%= @territory.name %>
</p>
<p>
  <b>Territory Type:</b>
  <%= @territory.territory_type.name %>
</p>
<p>
  <b>Description:</b>
  <%= @territory.description %>
</p>

<p>
  <b>Map:</b>
  <%= @territory.maps %>
</p>

<p>
  <b>Notes:</b>
  <%= @territory.notes %>
</p>

<p>
  <b>Active:</b>
  <% if @territory.active == "Y" %>Yes<% else %>No<% end %>
</p>

<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>