<h1>Territory Types <%= link_to '+', new_territory_type_path, :class => "newPlus", :alt => "New Territory Type" %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @territory_type.each do |territory_type| %>
    <tr>
      <td><%= link_to territory_type.name.titleize, territory_type %></td>
      <% if territory_type.active == "Y" %>
          <td>Yes</td>
          <td><%= link_to 'Edit', edit_territory_type_path(territory_type) %> <%= link_to 'Disable', tt_disable_path(territory_type), :data => {:confirm => "Are you sure you want to disable \"#{territory_type.name.titleize}?\""} %></td>
      <% else %>
          <td>No</td>
          <td><%= link_to 'Edit', edit_territory_type_path(territory_type) %> <%= link_to 'Enable', tt_enable_path(territory_type), :data => {:confirm => "Are you sure you want to enable \"#{territory_type.name.titleize}?\""} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>