<h1>Territory Types <%= link_to '+', new_territory_type_path, :class => "newPlus", :alt => "New Territory Type" %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
  <% @territory_type.each do |territory_type| %>
    <tr>
      <td><%= territory_type.name %></td>
      <td><%= territory_type.active %></td>
      <td><%= link_to 'Show', territory_type %></td>
      <td><%= link_to 'Edit', edit_territory_type_path(territory_type) %></td>
      <td><%= link_to 'Disable', tt_disable_path(territory_type), :data => {:confirm => "Are you sure you want to disable \"#{territory_type.name.titleize}?\""} %></td>
    </tr>
  <% end %>
  </tbody>
</table>