<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Territories: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application", "respond" %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="clearFix"></div>

      <div class="topnavBackground">
        <div class="topnav rightUser">

        </div>
        <div class="topnav" id="myTopnav">
          <%= link_to "s-13", checkouts_path, :class => "topnavS13" %>
          <a href="/checkouts/new">Check Out</a>
          <a href="/check_in">Check In</a>
          <a href="/settings">Settings</a>
          <% if logged_in? %>
            <a class="rightUser" id="rightUserNoBorder" href="/users/<%=current_user.id%>">My Account</a>
            <%= link_to "Logout", logout_path, :class => "rightUser" %></a>
          <% end %>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
      </div>
    </div>
    <div class="clearFix"></div>
    
    <div class="contentContainer">
      <!-- Errors etc. territories -->
      <!-- Errors etc. checkouts publishers users -->
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div class="content">       
        <%= yield %>
      </div>
    </div>
    <div class="congregation_name_outer"><div class="congregation_name_inner">Congregation: <%= current_user.congregation.name %></div></div>
    <footer><div class="footer_inner">I should really put something here...</div></footer>
  </div>
</body>
</html>
</html>