<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Territories: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div class="background-bar"></div>
  <div class="container">
    <div class="right-user">
      <% if logged_in? %>
        <%= current_user.first_name %> | <%= link_to "logout", logout_path %>
      <% end %>
    </div>
    <div class="logoHolder"><%= image_tag("logo.png", :class => "logo") %></div>
    
    <div class="nav-bar">
    	<a class="nav-bar-links" href="/checkouts/new">Check Out</a>
    	<a class="nav-bar-links" href="/checkin">Check In</a>
    	<a class="nav-bar-links" href="/settings">Settings</a>
    </div>
    
    <div class="clearFix"></div>
    
    <div class="main">
      <!-- Errors etc. territories -->
      <!-- Errors etc. checkouts publishers users -->
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      
      <%= yield %>

    </div>
  </div>

</body>
</html>
</html>