<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>s13: Login</title>
  <%= stylesheet_link_tag 'session' %>
</head>
<body>
  <div class="loginContainer center">
    <% if logged_in? %>
      <div class="rightUser">
        <%=h current_user.first_name %> | <%= link_to "logout", logout_path %>
      </div>
    <% end %>
    <!-- Errors etc. -->
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>  
    <div class="login center">
    	<div class="loginLogo center">
    		<%= image_tag("s13_white.png") %>
    	</div>     
      
      <%= yield %>

    </div>
  </div>

</body>
</html>
</html>